body{
    background: url("https://image.freepik.com/free-photo/top-view-business-office-desk-background-the-applying-for-a-job-form-and-pen-pencil-eyeglasses-tree-on-wooden-table-background-with-copy-space_1921-21.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-box{	
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid rgba(255, 255, 2550.5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
}

.form-box h2{
    color:black;
    text-align: center;
    font-size: 32px;
    
}
.form-box .input-box{
    position: relative;
    margin: 30px 0;
    font-size: 17px;
}
.button{
    color: red;
    text-align: center;
    
   
}
#result{
    color: red;
}
